@media (min-width: 320px){
    .mbicon{width: 40%;}
    .ideals-order{
      display:flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: baseline;
    }
    .logo-header{
      width: 15rem;
    }
    .mainfooter{
      height: 45vh;
    }
}
@media (min-width: 580px){
    .col-md-6{width: 50%;}
    .logo-header{
      width: 20rem;
    }
}
@media (min-width: 320px) and (max-width: 450px){
    h5{
        padding: 0;
    }
}
@media (min-width: 992px){
    .masthead {
      height: 100vh;
    }
    .masthead h1 {
      font-size: 5.5rem;
    }
}