/* -------- FOOTER --------*/
footer{background-color: #121312;}
.fot{
    background-color:rgba(32, 35, 41, 0.295);
    padding: 0 10%;
}
.footerdis{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.NVGIK .server-icon {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background: rgb(232, 16, 16);
}
.jwJece {
    margin: 0.25rem 0.5rem;
    font-size: 0.75rem;
    text-transform: uppercase;
    text-align: center;
    color:white;
}
.NVGIK {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(158, 158, 158);
}
.footerdis a{text-align: end;}
/* -------- GLOBAL --------*/
.contenedor{max-width: 80%;margin: 0 auto;}
.separador{margin-top: 1.5rem;}
a{text-decoration: none}
/*--------HEADER---------*/