body,
html {
  width: 100%;
  height: 100%;
}
body {font-family: 'Source Sans Pro';
background-color: #f8f9fa;}
.btn-xl {padding: 1.25rem 2.5rem;}
.content-section {
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
}
.content-section-heading h2 {font-size: 3rem;}
.content-section-heading h3 {
  font-size: 1rem;
  text-transform: uppercase;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.text-faded {color: #48887b;}
.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  background: rgba(52, 58, 64, 0.5);
  line-height: 45px;
}
.scroll-to-top:focus, .scroll-to-top:hover {color: white;}
.scroll-to-top:hover {background: #343a40;}
.scroll-to-top i {font-weight: 800;}

.masthead {
  height: 100vh;
  position: relative;
  width: 100%;
  background: url("../img/image.jpg"); /*Se ve cool con otros fondos*/
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.mastheadc{
  position: relative;
  width: 100%;
  background-image: url("../img/imgave.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 27vh;
  background-color: #ecebf0;
  box-shadow: 0 0.5rem 1rem rgb(21 24 44 / 12%);
}

.masthead h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
  }
  .masthead h1 {
    font-size: 5.5rem;
  }
}
.img-z {width: 2.25rem;}
@media (min-width: 450px){
  .ideals-order{
    justify-content: space-around;
  }
}
@media (min-width: 320px){
  .mbicon{width: 40%;}
  .ideals-order{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }
  .my-auto {
    margin-top: 0 !important;
}
.logo-header{
  width: 15rem;
}
}
@media (min-width: 580px){
  .col-md-6{width: 50%;}
}
.mainfooter{
    display: flex;
    /* padding: 0 10%; */
    height: 30vh;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("../img/imgave.jpg");
    background-position: top;
    background-size: cover;
    flex-direction: column;
    justify-content: flex-end;
}

/* Side Menu */
#sidebar-wrapper {
  position: fixed;
  z-index: 2;
  right: 0;
  width: 250px;
  height: 100%;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  -webkit-transform: translateX(250px);
  transform: translateX(250px);
  background: #eca92c99;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav li.sidebar-nav-item a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 15px;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
  font-size: 1.2rem;
  background: rgba(52, 58, 64, 0.1);
  height: 80px;
  line-height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}
.sidebar-nav > .sidebar-brand a {color: #fff;}
.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.menu-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 50px;
  height: 50px;
  background-color:#D2AC66;
  text-align: center;
  color: rgb(255, 255, 255);
  line-height: 50px;
  z-index: 999;
}
.menu-toggle:focus, .menu-toggle:hover {color: #fff;}
.menu-toggle:hover {background: #fce3b8;}
.service-icon {
  background-color: #fff;
  color: #48887b;
  height: 5rem;
  width: 5rem;
  display: block;
  line-height: 5.5rem;
  font-size: 2.25rem;
  box-shadow: 0 .5rem 1rem rgba(24, 24, 44, 0.295);
}
.cards-Layout{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; 
}
.card{
  border: none;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.35);
}
input{
  width: 3rem;
}

@media (min-width: 992px) {
}
footer.footer .social-link {
  display: block;
  height: 4rem;
  width: 4rem;
  line-height: 4.3rem;
  font-size: 1.5rem;
  background-color: #1D809F;
  -webkit-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}
footer.footer .social-link:hover {
  background-color: #155d74;
  text-decoration: none;
}
a {color: #1D809F;}
a:hover, a:focus, a:active {color: #155d74;}
.btn-primary {
  background-color: #4c9b8b !important;
  border-color: #48887B !important;
  color: #fff !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #75AFA5 !important;
  border-color: #75AFA5 !important;
}
.btn-secondary {
  background-color: #ecb807 !important;
  border-color: #ecb807 !important;
  color: #fff !important;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: #ba9106 !important;
  border-color: #ba9106 !important;
}
.btn-dark {color: #fff !important;}
.btn {
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  font-weight: 700;
}
.bg-primary {background-color: #f8f9fa !important;}
.text-primary {color: #48887b !important;}
.text-secondary {color: #ecb807 !important;}